{% extends "base.html" %}
{% load crispy_forms_tags %}

<!-- DOCTYPE html -->


{% block content %}



<div class='col-sm-8 col-sm-offset-1'>
<h1> Step 1 - Identify Practitioner </h1>


<!-- need to have POST to indicate its not a default get method and action says what url to send it to -->
<!-- <form method='POST' action=''> {% csrf_token %} -->


<br>
<br>

Enter the last names of the practioner you are looking for and select them

<br>
<br>


<form method='GET' action=''>


<!-- <input type='text' name='q1' placeholder='Lastname'/> -->
<input type="text" name= 'q1' class="form-control" placeholder="Practitioner Lastname" >

<br>

<input class='btn btn-primary' type='submit' value='Search'/>
</form>

<br>


<hr/>

{% if query %}
	{% for obj in queryset_list %}
	<ul>{{obj.first_name}}
	{{obj.last_name}} -
	{{obj.level}} -
	{{obj.office}} --
	<a href='{% url "create_step2" pk=obj.pk %}'> Select </a>
	
	</ul>
	<hr/>
	{% endfor %}
{% endif %}

<br>


<!-- {% for obj in queryset_list %}
	{{obj.first_name}}
	{{obj.last_name}}
	<hr/>
{% endfor %} -->

<!-- <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/> -->

{% endblock %}

