{% extends "base.html" %}
{% load crispy_forms_tags %}


<br>

{% block content %}


<div class='col-sm-7 col-sm-offset-2'>

<br>
<br>
<br>
	
<br>
<h2>We are delighted that you have decided to become a part of the community</h2>
<h3>To ensure you are a Deloitte Consulting employee, please answer the following question:</h3>
<br>
<br>
<p class='lead text-align-center'>
What is the name of the event at the firm where practitioners perform some type of community service?</p>

<br>

<!-- <form action="/your-name/" method="post">
    
	<input type="text" name= 'val_ques' class="form-control" placeholder="Answer" >
	<br>

</form> -->

<form method='POST' action=''> {% csrf_token %}
		{{form|crispy}}
	    <input class="btn btn-primary " type="submit" value="Submit">
</form>

<br>

{{val_message}}


{% endblock %}