<!-- DOCTYPE html -->
<!-- {% load staticfiles %} -->
<html>
	
<body>



<h1> List of reviews for :  {{instance}}</h1>

<br>

<br>

	<ul>
	First Name: {{instance.first_name}}
	</ul>
	<ul>
	Last Name: {{instance.last_name}}
	</ul>
	<ul>
	Level: {{instance.level}}
	</ul>
	<ul>
	Office: {{instance.office}}
	</ul>

<hr/>
<br>

{% for obj in review_list %}
	<ul>
	Review #{{ forloop.counter }} --
	{{obj}} -
	Posted By: {{obj.user}} -
	Total votes: 
	<!-- {{ obj.votereview.all.count}} -->
	{{ obj.votereview.fupvotes.count}}
	<!-- <a href='{% url "r_vote" pk=obj.pk pk2=instance.pk%}'>Upvote</a> -->
	<a href='{% url "r_vote" pk=instance.pk pk2=obj.pk%}'>Upvote</a>
	</ul>
{% endfor %}






</body>
</html>

