<script>
        $(document).ready(function(){

        //added in later
        function getRatio(ratio)
        {
        if(ratio >= 0)
            return 'above';
        if(ratio <0)
            return 'below';
        }

        function getColor(ratio)
        {
        if(ratio >= 0)
            return '#228B22';
        if(ratio <0)
            return '#B22222';
        }


        $(function () {


    $('#spider_container').highcharts({

        chart: {
            polar: true,
            type: 'line'
           
        },

        title: {
            text: 'Ratings for {{instance.first_name}}',
            x: -80
        },

        pane: {
            size: '80%'
        },

        plotOptions: {
            series: {
                dataLabels: {
                    align: 'left',
                    enabled: true,
                    allowOverlap: false  
                }
            }
        },

        xAxis: {
            categories: ['Enjoyed working with them (1-5)', 'Had domain competency (1-5)', 'Learned from them (1-5)' ],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0,
            max: 5,
            labels: {
                enabled: false
            }
        },

        // original
        // tooltip: {
        //     shared: true,
        //     pointFormat: '<span style="color:{series.color}"> {series.name}: <b>{point.y:,.#f}</b><br/>',
        //     valueDecimals: 1,
        // },
    
        //  tooltip: {
        //   shared: true,
        //   useHTML: true,
        //   formatter: function() {
        //     var string = this.x + ': <br>',
        //       ratio;
        //     Highcharts.each(this.points, function(p, i) {
        //       // string += '<span style="color:' + p.color + ';">' + p.series.name + ': <b>' + p.y + '</b></span><br/>'
        //       string += '<span style="color:' + p.color + ';">' + p.series.name + ': <b>' + p.y + '</b></span><br/>'
        //     });
        //     ratio = ((this.points[0].y/this.points[1].y) - 1)*100;
        //     // string += '{{instance.first_name}} was rated ' + ratio.toFixed(1) + '% versus the average practitoner| ' + getRatio(ratio)
        //     string += '{{instance.first_name}} was rated ' + Math.abs(ratio.toFixed(1)) + '% ' + getRatio(ratio) +' the average practitoner' 
        //     return string
        //   },
        //   valueDecimals: 1,
        // },

        tooltip: {
          shared: true,
          useHTML: true,
          formatter: function() {
            var string = this.x + ': <br>',
              ratio;
            Highcharts.each(this.points, function(p, i) {
              // string += '<span style="color:' + p.color + ';">' + p.series.name + ': <b>' + p.y + '</b></span><br/>'
              string += '<span style="color:' + p.color + ';">' + p.series.name + ': <b>' + p.y + '</b></span><br/>'
            });
            ratio = ((this.points[0].y/this.points[1].y) - 1)*100;
            // string += '{{instance.first_name}} was rated ' + ratio.toFixed(1) + '% versus the average practitoner| ' + getRatio(ratio)
            string += '{{instance.first_name}} was rated ' + '<span style="color:' + getColor(ratio) + ';">' + Math.abs(ratio.toFixed(1)) + '% ' + getRatio(ratio) + '</b></span>' +' the average practitoner' 
            return string
          },
          valueDecimals: 1,
        },




        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: [{
            name: '{{instance}}',
            data: [{{ques1_employee_avg|floatformat}}, {{ques2_employee_avg|floatformat}}, 
            {{ques3_employee_avg|floatformat}}],
            pointPlacement: 'on',
            color: '#000080'
        }, {
            name: 'Overall Avg.',
            data: [{{ques1_overall_avg|floatformat}}, {{ques2_overall_avg|floatformat}}, 
            {{ques3_overall_avg|floatformat}}],
            pointPlacement: 'on',
            color: '#B0C4DE'
        }]

    });
});

        })
    </script>