
{% extends "base.html" %}


{% block content %}

"review_list": {{rev_list}} <hr/>
"instance": {{instance}} <hr/>
"ques1_overall_avg": {{ques1_overall_avg}} <hr/>
"ques2_overall_avg": {{ques2_overall_avg}} <hr/>
"ques3_overall_avg": {{ques3_overall_avg}} <hr/>
"ques1_employee_avg": {{ques1_employee_avg}} <hr/>
"ques2_employee_avg": {{ques2_employee_avg}} <hr/>
"ques3_employee_avg": {{ques3_employee_avg}} <hr/>
"work_again_yes": {{work_again_yes}} <hr/>
"work_again_no": {{work_again_no}} <hr/> 



<!-- {% for key, value in ques1_employee_avg.items %} {{value}} {% endfor %} -->

{% endblock %}