{% extends "base.html" %}

{% block title %}
	{{username}}'s homepage: 
{% endblock %}

{% block content %}


{% if messages %}
<div class='row'>
		<div class='col-sm-8 col-sm-offset-2'> 
<ul class="messages">
    {% for msg in messages %}       
    
      <div class="alert alert-{{msg.level_tag}}" role="alert">
  {{msg.message}}
  </div>
    
    {% endfor %}
</ul>
</div>
</div>
{% endif %}


<div class='container'>
<br>
<h2> Welcome <z style="color:#85BC22">{{username}} </z></h2>
<p>Number of Reviews Posted: <b style="color:#85BC22">{{review_count}}</b> <br>
Total Likes Received: <b style="color:#85BC22">{{vote_ct}}</b>  <br>
Profile Level: <em style="color:#85BC22">Basic</em></p>


<hr/>
 	<div class='row'>
		<div class='col-sm-3 col-sm-offset-1'> 
 
			<br>
	 		<h4> What would you like to do:</h4>
	 		<br>
	 		<br>
	 		<br>
			<a href='{% url "search_practitioners" %}' class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> &nbsp Search Reviews</a>
			<br>
			<br>
			<a href='{% url "create_step1" %}' class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-pencil"></span> &nbspLeave a Review</a>
			<br>
			<br>
			<a href='{% url "past_user_reviews" pk=username.pk %}' class="btn btn-primary btn-lg btn-block" role="button"> <span class="glyphicon glyphicon-folder-open"></span> &nbsp View My Past Reviews</a>

			<br>
			<br>	
	 	</div>

	 	<div class='col-sm-1 col-sm-offset-1'> 
		 	<br>
		 	<br>
		 	<br>
		 	<div class="vertical-line" style="height: 450px;"> </div>	
	 	</div>

	 	<div class='col-sm-6'> 
		 	<br>
		 	
			 	<div class="cent-text"> 
			 		<u> 
			 		<h4><a href='{% url "reviews_longlist" %}'>Practitioners Recently Reviewed</a></h4> 
			 		</u>
			 	</div>
		 		<br>

		 		{% for obj in recent_reviews %}
					<ul>
					{{ forloop.counter }}. 
					<a href='{% url "emp_details" pk=obj.employee.pk %}'>
					{{obj.employee.first_name}} {{obj.employee.last_name}} |
					{{obj.employee.service_area}} |
					</a>
					Posted By: {{obj.user}} |
					{{obj.timestamp|timesince}} ago
					</ul>
				{% endfor %}
				<hr/>

				<div class="cent-text"> 
			 		<u> 
			 		<h4>Reviews Recently "Liked"</h4> 
			 		</u>
			 	</div>
		 		<br>

		 		{% for obj2 in recent_voted_reviews %}
					<ul>
					{{ forloop.counter }}. 
					<a href='{% url "emp_details" pk=obj2.employee.pk %}'>
					{{obj2.employee.first_name}} {{obj2.employee.last_name}}  |
					{{obj2.employee.service_area}} |
					{{obj2.review.content|truncatechars:50}}...
					</a>
				
					</ul>
				{% endfor %}
				<hr/>
		</div>


	</div>
</div>



{% endblock %}