{% extends "base.html" %}

{% block title %}
	User homepage: {{username}}
{% endblock %}

{% block content %}


{% if messages %}
<div class='row'>
		<div class='col-sm-8 col-sm-offset-2'> 
<ul class="messages">
    {% for msg in messages %}       
    
      <div class="alert alert-{{msg.level_tag}}" role="alert">
  {{msg.message}}
  </div>
    
    {% endfor %}
</ul>
</div>
</div>
{% endif %}

<div class='container'>
<h2> Welcome {{username}} </h2>
<hr/>
 	<div class='row'>
		<div class='col-sm-3 col-sm-offset-1'> 

			<br>
			<br>
	 		<h4> What would you like to do:</h4>
	 		<br>
	 		<br>
	 		<br>
			<a href='{% url "search_practitioners" %}' class="btn btn-primary btn-lg btn-block" role="button">Search Practitioner Reviews</a>
			<br>
			<br>
			<a href='{% url "create_step1" %}' class="btn btn-primary btn-lg btn-block" role="button">Leave a review</a>
			<br>
			<br>
			<a href='{% url "past_user_reviews" pk=username.pk %}' class="btn btn-primary btn-lg btn-block" role="button">View my past reviews</a>
			<br>
			<br>	
	 	</div>

	 	<div class='col-sm-1 col-sm-offset-1'> 
		 	<br>
		 	<br>
		 	<br>
		 	<div class="vertical-line" style="height: 450px;"> </div>	
	 	</div>

	 	<div class='col-sm-6'> 
		 	<br>
		 	<br>
			 	<div class="cent-text"> 
			 		<u> 
			 		<h4>Practitioners Recently Reviewed</h4> 
			 		</u>
			 	</div>
		 		<br>

		 		{% for obj in recent_reviews %}
					<ul>
					#{{ forloop.counter }} -
					<a href='{% url "emp_details" pk=obj.employee.pk %}'>
					{{obj.employee}} -
					{{obj.employee.service_area}} -
					</a>
					Posted By: {{obj.user}} -
					{{obj.timestamp|timesince}} ago
					</ul>
				{% endfor %}
				<hr/>

				<div class="cent-text"> 
			 		<u> 
			 		<h4>Reviews Recently Upvoted</h4> 
			 		</u>
			 	</div>
		 		<br>

		 		{% for obj2 in recent_voted_reviews %}
					<ul>
					#{{ forloop.counter }} -
					<a href='{% url "emp_details" pk=obj2.employee.pk %}'>
					{{obj2.employee}} -
					{{obj2.employee.service_area}} -
					{{obj2.review.content|truncatechars:50}}...
					</a>
				
					</ul>
				{% endfor %}
				<hr/>
		</div>


	</div>
</div>



{% endblock %}