{% extends "base.html" %}
{% load crispy_forms_tags %}


{% load i18n %}



{% block content %}
<br>
<br>





<div class="row">
<!-- <div class="col-md-6 col-sm-offset-1"> -->
<div class='col-sm-5 col-sm-offset-3'>

<h3> Sign-up now for free </h3>
<br>
<i>Note: Do not use your actual name for your username if you wish to maintain anonymity</i>
<br>
<br>

	<form method="post" action=".">
	  {% csrf_token %}
	  <!-- {{ form.as_p }} -->
	  {{ form|crispy }}
	  <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Submit' %}" />
	</form>
</div>
</div>

{% endblock %}
