h4 {
	color: #777777;
}



.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.table tbody>tr>td.vert-hor-align{
    vertical-align: middle;
    text-align: center;
}


.vertical-line{
  width: 1px; /* Line width */
  background-color: #e4e4e4; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}

.cent-text{
	text-align: center;
}
